.w500{
    width: 500px;
}
.w250{
    width: 250px;
}
.h{
    height: 300px;
}
.h20{
    height: 20px;
}
.displayFlex{
    display: flex;
}
.column{
    flex-direction: column;
}
.contentCentre{
    justify-content: center;
    align-items: center;
}
.marginBttm{
    margin-bottom: 15px;
}
.marginBttm10{
    margin-bottom: 10px;
}
.fontSize{
    font-size: 10px;
    text-decoration: none;
}
.bc{
    background-color: orange;
}